body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  background-color: #FAFAFA;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  text-transform: uppercase;
}

h2, h3 {
    font-weight: 300;
}

#nav {
  max-width: 700px;
  margin: 30px auto 0 auto;
}

#date {
  float: left;
  text-transform: uppercase;
}

#time {
  float: right;
}

#todo-list {
  /* background-color: #9E9E9E; */
  /* or -165 */
  /* or -398 */
  height: calc(100vh - 300px);
  max-width: 700px;
  margin: 45px auto 0 auto;
  overflow-y: scroll;
}

#todo-list::-webkit-scrollbar {
  width: 0 !important
}

#submit {
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 700px;
  width: 70%;
  background-color: black;
}

form textarea {
  width: 100%;
  margin: auto;
  resize: none;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 24px;
}

form input {
  width: 100%;
  margin: auto;
  resize: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 4px;
}

button {
  background: none;
  border: none;
  outline: none;
}

article {
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  transition: background-color .2s ease-in-out, border-bottom .2s ease-in-out;
  border-bottom: 1px solid #EDEDED;
}

article:hover {
  border-bottom: 1px solid black;
  background-color: #EDEDED;
}

#submit-button, .close {
  color: #FAFAFA;
  font-size: 34px;
  margin-top: 3px;
  float: right;
  transition: text-shadow .2s ease-in-out, color .2s ease-in-out;
}

.completed-button {
  color: #FAFAFA;
  font-size: 34px;
  margin-top: 3px;
  /* float: left; */
  display: inline-block;
  transition: text-shadow .2s ease-in-out, color .2s ease-in-out;
}

.todo-list-text {
  display: inline-block;
  /* float: left; */
}

button:hover {
  text-shadow: 0px 0px 10px #D1D1D1;
  color: white;
  cursor: pointer;
}
